<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.username">postgres</property>
		<property name="hibernate.connection.password">Maks2005</property>
		<property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/</property>
		<property name="show_sql">true</property>
    	<property name="hbm2ddl.auto">update</property>
		<mapping class="com.quadratic.equation.Calc" />
	</session-factory>
</hibernate-configuration>
